.container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #6cbe45;
    padding: 10px;
    padding-right: 20px;
    padding-left: 5px;
    margin-top: 20px;
    
    @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
    }

    .social_network {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        @media (max-width: 1024px) {
            gap: 15px;
        }

        @media (max-width: 768px) {
            gap: 5px;
        }

        @media (max-width: 600px) {
            flex-direction: column-reverse;
        }

        & img {
            width: 140px;
            transition: transform 0.5s;

            @media (max-width: 1024px) {
                width: 100px;
            }

            &:hover {
                transform: scale(1.1) translateZ(0);
                transition: 0.5s;
            }
        }
    }

    .telegramImg_link {

    }

    .text_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        @media (max-width: 600px) {
            align-items: center;
        }
    }

    .social_network_link {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid #fff;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 5px;

        &:hover {
            background: #fff;
            color: #6cbe45;
        }
    }

    .social_text {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin: 0;

        @media (max-width: 1024px) {
            font-size: 18px;
        }

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .phone_number {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .phone_number_text {
            text-decoration: none;
            color: #fff;
            font-weight: 900;
            font-size: 24px;
            line-height: 120%;
            cursor: pointer;

            @media (max-width: 1024px) {
                font-size: 18px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            &:hover {
                color: #fff; 
                opacity: 0.6;
            }
        }

        .phone_number_text_desc {
            text-decoration: none;
            color: #fff;
            font-size: 18px;

            @media (max-width: 1024px) {
                font-size: 14px;
            }

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    .policy {
        white-space: nowrap;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-align: left;
        text-decoration: underline;
        cursor: pointer;

        @media (max-width: 1024px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }

        &:hover {
            color: #fff; 
            opacity: 0.6;
            text-decoration: none;
        }
    }
}